streamlit
streamlit-option-menu
fastapi
uvicorn[standard]
python-multipart
pytesseract
opencv-python
pillow
pdf2image
pandas
sqlalchemy
plotly
scikit-learn
requests
httpx
python-jose[cryptography]
python-dotenv
prophet
ruptures
reportlab
